.news-feed {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-white);
}

.news-feed .news-feed__card {
  margin-right: 40px;
  padding: 20px;
  background-color: var(--color-background-cards);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}