:root {
  /* Breakpoints */
  --screen-md: 768px;
  --screen-lg: 960px;

  /* Colors */
  --color-black: #1E1E1E;
  --color-white: #FFFFFF;
  --color-gold: #E7C281;
  --color-blue: #18BBD6;
  --color-background-cards: #F4F4F4;

  --color-title: #D2D2D2;
}
